body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    color: rgb(0, 2, 53);
    background-color: rgb(255, 192, 181);
}

.profile {
    border-radius: 50%;
    height: 500px;
    width: 400px;
    margin-top: 26842900px;
}

#welcome {
    position: absolute;
    bottom: 0;
    background: linear-gradient(#ffca9c 0%, #e7a75d 100%);
    display: table;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#name {
    font-size: 50px;
    font-family: 'Comic Neue', cursive;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}

#bio {
    font-family: 'Cinzel Decorative',cursive;
    padding: 50px;
    font-family: 'Comic Neue', cursive;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.parallax-inner {
    display: table-cell;
    vertical-align: middle;
}
.menus{
    list-style: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.menu{
    list-style: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    cursor:pointer;
}
.link{
    float: right;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}
.links{
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}
.ul1{
    width: 20%;
    padding-left: 250px;
    font-size: 20px;
}
.a1{
    text-decoration: none;
}
